ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,macbook,p,blockquote,fieldset,input{margin:0; padding:0;}

/* body { background: -webkit-gradient(radial, center center,10,center center,1000, from(rgb(255, 255, 255)), to(rgb(204, 204, 204))) } */
body { 
    background: url("../images/background.png") no-repeat fixed center !important;
}

h1 { font: bold 50px Helvetica, Arial, Sans-serif; text-align: center; color: rgb(0, 0, 0); text-shadow: 0px 1px 2px rgba(133, 133, 133, 0.384); }
h1 small{ font-size: 20px; text-transform:uppercase; letter-spacing: 14px; display: block; color: rgb(109, 109, 109); margin-top:10px; }
h2 a { display: block; text-decoration: none; margin: 0 0 30px 0; font: 40px Georgia, Times, Serif;  text-align: center; color: rgb(109, 109, 109); text-shadow: 0px 2px 3px rgba(8, 8, 8, 0.212); }
h2 a:hover { color: #000000; }

/* WRAPPER */
#wrapper { width:800px; margin:40px auto;}

/* CONTENT */
#content h2 { 
    font: bold 30px Helvetica, Arial, Sans-serif; 
    color:#eee; 
    text-shadow: 0px 2px 6px rgb(77, 77, 77); 
    margin-left:400px; 
    padding-top:20px; }

/* BAR CHART */
#bar { list-style:none; }
#bar li div.top img {
    margin-top: 20px !important;
    width: 50px;
    height: 50px;
}
#bar li:hover div.top img {
    margin-top: 0px !important;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    -webkit-transition-property: width;
    -webkit-transition-property: margin-left;
    -webkit-transition-property: height;
    -webkit-transition-duration: 200ms;
}

/* Last bottom should have a shadow */
#bar li div.bottom { 
    -moz-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.2); 
    -webkit-box-shadow: 0 5px 20px hsla(0,0%,0%,.2); 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.048); 
}

/* Ellipse top */
#bar li div.top { 
    background-color:rgba(235, 235, 235, 0.5); 
    position:relative; 
    float:left; 
    margin-left:10px;
    width:40px; 
    height:100px; 
    -moz-border-radius: 40px/100px; 
    -webkit-border-radius: 40px 100px; 
    border-radius: 40px/100px;
	-webkit-transition-property: margin-left;
	-webkit-transition-duration: 500ms;
}
#bar li div.top img { margin-left:10px; margin-top:15px; }

/* Bar bottom */
#bar li div.bottom { 
    position:relative; 
    margin:5px 0; 
    width:50px;
    height:100px; 
    -moz-border-radius: 40px/100px; 
    -webkit-border-radius: 40px 100px; 
    border-radius: 40px/100px;
	background:-webkit-gradient(linear, 0 top, 0 bottom, from(#ffffff), to(#dfdfdf));
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}
#bar li div.bottom div.infobox { 
    padding:40px 0 0 600px;
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}
#bar li div.bottom div.infobox h3 { color: rgba(0, 0, 0, 0) !important;font-family:Georgia,serif,Times; }
#bar li div.bottom div.infobox p { color: rgba(0, 0, 0, 0)  !important;font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 1;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
}

/* General hover actions */
#bar li:hover div.bottom div.infobox h3{ 
    color:rgb(0, 0, 0) !important; 
    font-size: 20px;
    -webkit-transition-property: font-size; 
    -webkit-transition-property: color; 
    -webkit-transition-duration:500ms; 
}
#bar li:hover div.bottom div.infobox p { 
    color:rgb(0, 0, 0) !important; 
    font-size: 20px;
    -webkit-transition-property: font-size; 
    -webkit-transition-property: color; 
    -webkit-transition-duration:500ms; 
}

/* iPhone bar */
#item-1 div.top { z-index:99; }
#item-1 div.bottom { z-index:98; height:150px; }
#item-1:hover div.top { z-index:999; background-color:#7f3aff; margin-left:260px; }
#item-1:hover div.bottom { z-index:998; width:300px;
    background:-webkit-gradient(linear, 0 top, 0 bottom, from(#00e9fa), to(#7e46ff)); }
    
/* MacBook bar */
#item-2 div.top { z-index:97; }
#item-2 div.bottom { z-index:96; height:200px; }
#item-2:hover div.top { z-index:997; background-color:rgb(219, 0, 69); margin-left:340px; }
#item-2:hover div.bottom { z-index:996; width:380px;
	background:-webkit-gradient(linear, 0 top, 0 bottom, from(#ff105b), to(#ff5e1f)); }

/* iPod bar */
#item-3 div.top { z-index:95; }
#item-3 div.bottom { z-index:94; height:250px; }
#item-3:hover div.top { z-index:995; background-color:#00c482; margin-left:270px; }
#item-3:hover div.bottom { z-index:994; width:310px;
	background:-webkit-gradient(linear, 0 top, 0 bottom, from(#00ff62), to(#00db92)); }

/* Cinema Display bar */
#item-4 div.top { z-index:93; }
#item-4 div.bottom { z-index:92; height:100px; }
#item-4:hover div.top { z-index:993; background-color:#d46700; margin-left:170px; }
#item-4:hover div.bottom { z-index:992; width:210px;
	background:-webkit-gradient(linear, 0 top, 0 bottom, from(#f7bf07), to(#fd7a00)); }

/* Mac Mini bar */
#item-5 div.top { z-index:91; }
#item-5 div.bottom { z-index:90; height:120px; }
#item-5:hover div.top { z-index:991; background-color:#9800d4; margin-left:230px; }
#item-5:hover div.bottom { z-index:990; width:270px;
    background:-webkit-gradient(linear, 0 top, 0 bottom, from(#f700ff), to(#8b00fd)); }
    